# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/terraform.tfvars

# Secrets & Keys
*.pem
*.key
.env

# Logs
*.log

# Backups
*.backup
*.bak

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Internal docs (não sobem para o GitHub)
docs internos/
