apiVersion: 1

datasources:
  - name: Zabbix
    type: alexanderzobnin-zabbix-datasource
    access: proxy
    url: http://zabbix-web:8080/api_jsonrpc.php
    basicAuth: false
    isDefault: true
    jsonData:
      username: Admin
      trends: true
      trendsFrom: "7d"
      cacheTTL: "1h"
      timeout: 60
    secureJsonData:
      password: zabbix
